body{
  margin: 0;
  padding: 0;
  background-color: rgb(240, 230, 217);
}


.container-fluid{
  background-color: blue;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  
}

.nevbar-brand{
 
}

.navbar-brand{
  color: #fff;
  
}


.jumbotron{
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

fieldset{
  text-align: center;
}